:root {
	--font-heading: "Nunito Sans", sans-serif;
	--font-sans: "PT Sans", sans-serif;
	--font-mono: "Inconsolata", monospace;
	--p-0: 0rem;
	--p-1: 0.25rem;
	--p-2: 0.5rem;
	--p-3: 0.75rem;
	--p-4: 1rem;
	--p-5: 1.25rem;
	--p-6: 1.5rem;
	--p-7: 1.75rem;
	--p-8: 2rem;

	--color-background: #e2eae1;
	--color-on-background: #0b0f0b;
	--color-btn-primary: #45475f;
	--color-btn-on-primary: var(--color-background);
	--color-btn-secondary: #eef2ed;
	--color-btn-on-secondary: var(--color-on-background);
	--color-accent: #231a1b;
}
html {
	font-size: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-on-background);
	line-height: 1.75;
	font-family: var(--font-sans);
}

p {
	margin-bottom: 1rem;
}
a {
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	&:active {
		color: gray;
	}
}

code {
	font-family: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 3rem 0 1.38rem;
	font-family: var(--font-heading);
	line-height: 1.3;
}
h1,
.h1 {
	margin-top: 0;
	font-size: 1.802rem;
}

h2,
.h2 {
	font-size: 1.602rem;
}

h3,
.h3 {
	font-size: 1.424rem;
}

h4,
.h4 {
	font-size: 1.266rem;
}

h5,
.h5 {
	font-size: 1.125rem;
}

small,
.text_small {
	font-size: 0.889rem;
}
hr {
	border: dashed var(--color-on-background) 0.01em;
	opacity: 0.2;
}

.font-mono {
	font-family: var(--font-mono);
}
.font-sans {
	font-family: var(--font-sans);
}
/* Basic component */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="month"],
select,
textarea,
input[type="number"] {
	border: solid var(--color-on-background) 1.5px;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	color: var(--color-on-background);
	transition-property: color background-color;
	transition-timing-function: ease;
	transition-duration: 100ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="check"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus,
input[type="checkbox"]:focus {
	background: var(--color-btn-secondary);
	outline: max(2px, 0.1em) solid var(--color-accent);
	outline-offset: max(2px, 0.15em);
}
input[type="checkbox"] {
	display: grid;
	place-content: center;
	font: inherit;
	color: var(--color-accent);
	width: 1em;
	height: 1em;
	border: 0.1em solid var(--color-on-background);
	border-radius: 0.1em;
}
input[type="checkbox"]::before {
	content: "";
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.1em;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color-accent);
}
input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="radio"] {
	display: grid;
	place-content: center;
	font: inherit;
	color: var(--color-accent);
	width: 1em;
	height: 1em;
	border: 0.15em solid var(--color-on-background);
	border-radius: 50%;
	transform: translateY(0.05em);
	cursor: pointer;
	transition-property: color background-color;
	transition-timing-function: ease;
	transition-duration: 100ms;
}

input[type="radio"]::before {
	content: "";
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color-accent);
}

input[type="radio"]:checked::before {
	transform: scale(1);
}
@keyframes clicked {
	0% {
		transform: translateY(-2px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-2px);
	}
}

button,
.btn {
	font-family: var(--font-mono);
	position: relative;
	text-align: center;
	min-width: 12em;
	cursor: pointer;
	background-color: var(--color-btn-primary);
	color: var(--color-btn-on-primary);
	padding: 4px 8px;
	transition-property: transform box-shadow color background-color;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
	border-radius: var(--p-2);
	border: solid 1.5px var(--color-background);
}

.btn-square {
	display: grid;
	place-content: center;
	min-width: 2em;
	max-width: fit-content;
	min-height: 2em;
	aspect-ratio: 1/1;
	flex-grow: 0;
}
.btn-sidebar {
	margin: 0;
	/* border-radius: 0; */
	border: 0;
	padding: 1em 1.5em;
	font-size: 1.125em;
	text-align: left;
}
.btn-secondary {
	background-color: var(--color-btn-secondary);
	color: var(--color-btn-on-secondary);
}
.btn-outline {
	background-color: var(--color-background);
	border: solid var(--color-accent) 0.15em;
	color: var(--color-on-background);
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
	transform: translateY(-2px);
	box-shadow: 0 10px 40px -10px var(--color-btn-primary);
}
.btn-sidebar:hover {
	transform: translateX(4px) translateY(0);
	box-shadow: 10px 0px 40px -10px var(--color-btn-primary);
}

button:focus,
.btn:focus {
	outline: max(2px, 0.15em) solid var(--color-accent);
	outline-offset: max(2px, 0.15em);
}
.btn-sidebar:focus {
	outline: max(2px, 0.15em) solid var(--color-background);
	outline-offset: max(2px, 0.15em);
}
button:active,
.btn:active {
	animation-name: clicked;
	animation-duration: 200ms;
}

button:disabled,
.btn:disabled {
	opacity: 0.5;
	transition: none;
	cursor: not-allowed;
}

@media (hover: none) {
	button:active,
	.btn:active {
		animation: none;
	}
}

.modal {
	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
}
.model-inner {
	background-color: white;
	border-radius: 0.5em;
	max-width: 600px;
	padding: 2em;
	margin: auto;
}
.modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

[x-cloak] {
	display: none !important;
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.75;
}
