.card-list {
	/* padding: 1rem; */
	max-height: fit-content;
	display: flex;
	flex-direction: column;
	background-color: var(--color-btn-primary);
	gap: 1em;
}

.transaction-card {
	display: flex;
	flex-direction: column;
	/* max-width: 500px; */
	border: solid var(--color-on-background) 0.15em;
	border-radius: 0.5em;
	padding: var(--p-2);

	transition-property: transform box-shadow color background-color;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 10px 40px -10px var(--color-btn-primary);
	}
	& > .header {
		min-width: 100%;
		display: inherit;
		flex-direction: row;
		justify-content: space-between;
	}
	& > .header > .date,
	& > .header > .group,
	& > .header > .id {
		flex-grow: 0;
		opacity: 0.5;
		font-weight: 600;
		font-family: var(--font-mono);
	}
	& > .content {
		display: flex;
		min-width: 100%;
		gap: 1em;
		align-items: center;
	}
	& .title {
		font-family: var(--font-mono);
	}
	& > .footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		& > .action {
			display: inherit;
			gap: 0.5em;
		}
	}
	& > .info {
		margin-bottom: 0.5em;
		opacity: 0.5;
		display: inherit;
		justify-items: center;
		justify-content: space-around;
	}
}

.transaction-form {
	border-left: solid 0.1em var(--color-on-background);
	padding: 0 1em 0 1em;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	& > .id {
		font-family: var(--font-mono);
		opacity: 0.5;
	}
	& label {
		width: 100%;
		text-align: right;
	}
	& textarea {
		width: 100%;
	}
	& > section {
		display: inherit;
		align-items: center;
		justify-content: space-between;
		gap: 0.25em;
	}
	& > fieldset {
		display: inherit;
		flex-direction: column;
		padding: 0.25em;
		border: solid 0.1em var(--color-on-background);
		border-radius: 0.2em;
		& > legend {
			margin-left: 1em;
		}
		& > div {
			display: inherit;
			justify-content: start;
			flex-grow: 0;
			align-items: center;
			gap: 0.5em;
		}
		& label {
			text-align: left;
		}
	}
}
